<section class="collection-section" id="collection">
  <div class="container">
    <h2 class="collection-section-title">Our collection</h2>
    <div class="collection-container">
      <ul class="collection-list">
        <li class="collection-list-item first-collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem1-m.jpg       335w,
              ./img/collection/collectionitem1-m@2x.webp   670w,
              ./img/collection/collectionitem1-t.jpg       342w,
              ./img/collection/collectionitem1-t@2x.jpg    684w,
              ./img/collection/collectionitem1-d.jpg       347w,
              ./img/collection/collectionitem1-d@2x.jpg    694w,
              ./img/collection/collectionitem1-d-xl.jpg    400w,
              ./img/collection/collectionitem1-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem1-m.jpg"
            alt="Black Poltava women's blouse"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">
              AUGUST Poltava women's blouseRING
            </h3>
            <p class="collection-section-text">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem2-m.jpg       335w,
              ./img/collection/collectionitem2-m@2x.webp   670w,
              ./img/collection/collectionitem2-t.jpg       342w,
              ./img/collection/collectionitem2-t@2x.jpg    684w,
              ./img/collection/collectionitem2-d.jpg       347w,
              ./img/collection/collectionitem2-d@2x.jpg    694w,
              ./img/collection/collectionitem2-d-xl.jpg    400w,
              ./img/collection/collectionitem2-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem2-m.jpg"
            alt="Women's blouse Gorgany"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">
              Women's blouse Gorgany
            </h3>
            <p class="collection-section-text">3350 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem3-m.jpg       335w,
              ./img/collection/collectionitem3-m@2x.webp   670w,
              ./img/collection/collectionitem3-t.jpg       342w,
              ./img/collection/collectionitem3-t@2x.jpg    684w,
              ./img/collection/collectionitem3-d.jpg       347w,
              ./img/collection/collectionitem3-d@2x.jpg    694w,
              ./img/collection/collectionitem3-d-xl.jpg    400w,
              ./img/collection/collectionitem3-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem3-m.jpg"
            alt="Women's blouse Crimea"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">
              Women's blouse Crimea
            </h3>
            <p class="collection-section-text">4000 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem4-m.jpg       335w,
              ./img/collection/collectionitem4-m@2x.webp   670w,
              ./img/collection/collectionitem4-t.jpg       342w,
              ./img/collection/collectionitem4-t@2x.jpg    684w,
              ./img/collection/collectionitem4-d.jpg       347w,
              ./img/collection/collectionitem4-d@2x.jpg    694w,
              ./img/collection/collectionitem4-d-xl.jpg    400w,
              ./img/collection/collectionitem4-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem4-m.jpg"
            alt="Men's shirt Verkhovina"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">
              Men's shirt Verkhovina
            </h3>
            <p class="collection-section-text">3100 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem5-m.jpg       335w,
              ./img/collection/collectionitem5-m@2x.webp   670w,
              ./img/collection/collectionitem5-t.jpg       342w,
              ./img/collection/collectionitem5-t@2x.jpg    684w,
              ./img/collection/collectionitem5-d.jpg       347w,
              ./img/collection/collectionitem5-d@2x.jpg    694w,
              ./img/collection/collectionitem5-d-xl.jpg    400w,
              ./img/collection/collectionitem5-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem5-m.jpg"
            alt="Mountain men's shirt"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">Mountain men's shirt</h3>
            <p class="collection-section-text">3300 UAH</p>
          </div>
        </li>
        <li class="collection-list-item">
          <img
            class="collection-section-img"
            srcset="
              ./img/collection/collectionitem6-m.jpg       335w,
              ./img/collection/collectionitem6-m@2x.webp   670w,
              ./img/collection/collectionitem6-t.jpg       342w,
              ./img/collection/collectionitem6-t@2x.jpg    684w,
              ./img/collection/collectionitem6-d.jpg       347w,
              ./img/collection/collectionitem6-d@2x.jpg    694w,
              ./img/collection/collectionitem6-d-xl.jpg    400w,
              ./img/collection/collectionitem6-d-xl@2x.jpg 800w
            "
            sizes="(min-width: 1440px) 400px, (min-width: 1280px) 347px, (min-width: 768px) 342px, (max-width: 767px) 335px"
            src="./img/collection/collectionitem6-m.jpg"
            alt="Men's shirt Yasen"
          />
          <div class="collection-list-item-container">
            <h3 class="collection-section-inner-title">Men's shirt Yasen</h3>
            <p class="collection-section-text">1700 UAH</p>
          </div>
        </li>
      </ul>
    </div>
  </div>
</section>
