<footer class="footer">
    <div class="container footer-wrapper">
        <ul class="footer-nav-menu">
            <li>
                <ul class="footer-nav-col">
                    <li><a href="#about" class="footer-nav-item">About us</a></li>
                    <li><a href="#collection" class="footer-nav-item">Our collection</a></li>
                </ul>
            </li>
            <li>
                <ul class="footer-nav-col">
                    <li><a href="#order" class="footer-nav-item">Customer order</a></li>
                    <li><a href="#testimonials" class="footer-nav-item">Testimonials</a></li>
                </ul>
            </li>
        </ul>
        <p class="footer-slogan">A touch of <span class="footer-slogan-highlight">Ukrainian</span> culture in every
            embroidery
        </p>
    </div>
</footer>