<!-- ---------------------------- HEADER ---------------------------- -->

<header class="header">
  <div class="container">
    <a class="header-logo" href="../index.html">
      <img src="../img/logo.svg" width="44" height="39" alt="Logo" />
    </a>
    <nav class="header-menu">
      <ul class="header-menu-item">
        <li class="header-menu-list">
          <a href="">About us</a>
        </li>
        <li class="header-menu-list">
          <a href="">Our collection</a>
        </li>
        <li class="header-menu-list">
          <a href="">Customer order</a>
        </li>
        <li class="header-menu-list">
          <a href="">Testimonials</a>
        </li>
      </ul>
    </nav>
    <a class="header-tel" href="tel:+380 (68) 443-94-26">+380 (68) 443-94-26</a>
    <ul class="header-social-button-item">
      <li class="header-social-button-list">
        <a href="https://www.facebook.com/goITclub/">
          <div class="header-social-button">
            <svg
              class="header-social-button-img"
              width="40"
              height="40"
              aria-label="Facebook-btn"
            >
              <use href="../img/sprite.svg#icon-facebook"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="header-social-button-list">
        <a href="https://www.instagram.com/goitclub/">
          <div class="header-social-button">
            <svg
              class="header-social-button-img"
              width="40"
              height="40"
              aria-label="Instagram-btn"
            >
              <use href="../img/sprite.svg#icon-instagram"></use>
            </svg>
          </div>
        </a>
      </li>
      <li class="header-social-button-list">
        <a href="https://www.youtube.com/c/GoIT">
          <div class="header-social-button">
            <svg
              class="header-social-button-img"
              width="40"
              height="40"
              aria-label="Youtube-btn"
            >
              <use href="../img/sprite.svg#icon-youtube"></use>
            </svg>
          </div>
        </a>
      </li>
    </ul>
  </div>
</header>
