<!--------- section hero------>
<section class="hero-section">
  <div class="container">
    <h1 class="hero-title">
      Reviving the traditional
      <span class="hero-title-part">Ukrainian</span> artistry in every stitch.
    </h1>
    <button class="hero-button" type="button">
      ORDER
      <svg
        class="hero-button-svg"
        width="26"
        height="10"
        aria-label="hero-button-icon-untitled"
      >
        <use href="../img/sprite.svg#icon-untitled"></use>
      </svg>
    </button>

    <img
      class="hero-foto-img"
      srcset="
      /img/hero/tabl-girl-min.jpg    413w,
        /img/hero/tabl-girl@2x-min.jpg 826w
        /img/hero/mob-girl-min.jpg    335w,
        /img/hero/mob-girl@2x-min.jpg 670w
      "
      sizes="(min-width: 1280px) 392px, (min-width: 768px) 413px, (min-width: 320px) 335px"
      src="../img/hero/mob-girl-min.jpg"
      alt="girl"
    />
  </div>
</section>
