<section class="order-section">
  <div class="order-bcgr-img"></div>
  <div class="order-container container" id="order">
    <h2 class="order-title">
      Your order
      <span class="order-part-title"
        >is our priority: Personalized approach and quality of service</span
      >
    </h2>
    <div class="order-form-container">
      <form class="order-form">
        <div class="order-form-wrapper">
          <input
            class="order-form-input"
            type="text"
            id="user-name"
            name="user-name"
            pattern="[a-zA-Zа-яА-ЯіІїЇєЄґҐʼ]+"
            placeholder="Enter your full name"
            required
          />
          <input
            class="order-form-input"
            type="email"
            id="user-email"
            name="user-email"
            placeholder="Enter your email"
            required
          />
          <textarea
            class="order-form-textarea"
            name="user-comment"
            id="user-comment"
            placeholder="Comments"
          ></textarea>
        </div>
        <button class="order-btn" type="submit">
          Send
          <svg
            class="order-btn-icon"
            width="28"
            height="18"
            aria-label="order-button-icon"
          >
            <use href="./img/sprite.svg#icon-arrow"></use>
          </svg>
        </button>
      </form>
      <img
        class="order-img"
        srcset="
          ./img/order/order-tablet-img-min.jpg      638w,
          ./img/order/order-tablet-img@2x-min.jpg  1276w,
          ./img/order/order-desktop-img-min.jpg     524w,
          ./img/order/order-desktop-img@2x-min.jpg 1048w
        "
        sizes="(min-width: 1440px) 524px, (min-width: 1280px) 524px, (min-width: 768px) 638px, (max-width: 767px) 638px"
        src="./img/order/order-tablet-img-min.jpg"
        loading="lazy"
        alt="vyshiyvanka picture"
      />
    </div>
  </div>
</section>
