.collection-section-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;

  padding-bottom: 40px;
  text-align: center;
}

.collection-section-img {
  border-radius: 4px;
}

.collection-list-item-container {
  padding-top: 18px;
  padding-bottom: 20px;
}

.collection-section-inner-title {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding-bottom: 8px;
}

.collection-section-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

.collection-section {
  background-image: url(/img/collection/element-mobile.png);
  background-repeat: no-repeat;
  background-position: 0% 10%;
}

@media screen and (min-resolution: 192dpi) {
  .collection-section {
    background-image: url(/images/element-mobile@2x.jpg);
  }
}
