.collection-section-title {
  color: #fcf9f9;
  font-size: 32px;
  font-weight: 500;
  line-height: 1.38;
  letter-spacing: -0.03em;

  padding-bottom: 40px;
  text-align: center;
}

.collection-section-img {
  border-radius: 4px;
}

.collection-section-img:hover,
.collection-section-img:focus {
  box-shadow: 0px 1px 6px #ecd979, 0px 1px 1px #ecd979, 0px 2px 1px #ecd979;
  transform: translateY(0%);
}

.collection-list-item-container {
  padding-top: 18px;
  padding-bottom: 20px;
}

.collection-section-inner-title {
  color: #fcf9f9;
  font-size: 14px;
  font-weight: 500;
  line-height: 1;
  letter-spacing: 0.05em;
  text-transform: uppercase;

  padding-bottom: 8px;
}

.collection-section-text {
  color: rgba(252, 249, 249, 0.4);
  font-size: 14px;
  font-weight: 400;
  line-height: 1;
  letter-spacing: 0.05em;
}

.collection-section {
  background-image: url(../img/collection/element-mobile.png);
  background-repeat: no-repeat;
  background-size: 72px 177px;
  background-position: 0% 9%;
}

@media screen and (min-resolution: 192dpi) and (max-width: 767px),
  screen and (min-resolution: 2dppx) and (max-width: 767px),
  screen and (min-device-pixel-ratio: 2) and (max-width: 767px) {
  .collection-section {
    background-image: url(../img/collection/element-mobile@2x.png);
  }
}

@media screen and (min-width: 768px) {
  .collection-section-title {
    font-size: 44px;
    line-height: 1.46;
  }

  .collection-section-inner-title {
    font-size: 18px;
  }

  .collection-section-text {
    font-size: 18px;
  }

  .collection-list {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }

  .collection-list-item {
    width: calc((100% - 20px) / 2);
  }

  .collection-section {
    background-image: url(../img/collection/element-tablet.png);
    background-position: 0% 10%;
    background-size: 114px 300px;
  }

  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .collection-section {
      background-image: url(../img/collection/element-tablet@2x.png);
    }
  }
}

@media screen and (min-width: 1280px) {
  .collection-list {
    display: flex;
    flex-wrap: wrap;
    column-gap: 20px;
    row-gap: 40px;
  }

  .collection-list-item {
    width: calc((100% - 40px) / 3);
  }

  .collection-section {
    background-image: url(../img/collection/element-desktop.png);
    background-position: 0% 21%;
    background-size: 169px 300px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .collection-section {
      background-image: url(../img/collection/element-desktop@2x.png);
    }
  }
}

@media screen and (min-width: 1440px) {
  .collection-section {
    background-image: url(../img/collection/element-desktop.png);
    background-position: 0% 21%;
    background-size: 169px 300px;
  }
  @media screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx),
    screen and (min-device-pixel-ratio: 2) {
    .collection-section {
      background-image: url(../img/collection/element-desktop@2x.png);
    }
  }
}
