body {
  color: var(--white);
  background-color: var(--black);
  font-family: 'Manrope', sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.2;
  letter-spacing: 0.05em;
}

.back-to-top {
  background: var(--yellow);
  border-radius: 50%;
  position: fixed;
  bottom: -50px;
  padding: 10px 12px;
  right: 50px;
  cursor: pointer;
  transition: 0.3s all;
}

.back-to-top:active {
  bottom: 50px;
  transition: 0.3s all;
}
