.header-wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-top: 24.5px;
  padding-bottom: 6.5px;
  margin-bottom: 60px;
}
.header-menu {
  display: none;
}
.header-tel {
  display: none;
}
.header-contacts {
  display: flex;
  align-items: center;
  gap: 20px;
}
.header-social-button-item {
  display: flex;
  gap: 12px;
}
.header-social-button-list {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 44px;
  height: 44px;
  border-radius: 15px;
  border: 1px solid rgba(252, 249, 249, 0.1);
  background: rgba(252, 249, 249, 0.1);
  transition: background 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  line-height: 0;
  letter-spacing: 0;
}
.heaser-social-button-link {
  letter-spacing: 0;
  line-height: 0;
}
.header-social-button-img {
  fill: var(--white);
}
.header-btn-menu {
  line-height: 0;
  cursor: pointer;
  border: none;
  background-color: transparent;
  padding: 0;
}
.header-btn-menu-icon {
  stroke: var(--yellow);
}
@media screen and (min-width: 768px) {
  .header-social-button-list:hover,
  .header-social-button-list:active {
    border: 1px solid var(--yellow);
    background: transparent;
  }

  .header-wrapper {
    margin-bottom: 80px;
  }
}
@media screen and (min-width: 1280px) {
  .header-wrapper {
    margin-bottom: 100px;
  }

  .header-btn-menu {
    display: none;
  }

  .header-logo-menu {
    display: flex;
    align-items: center;
  }
  .header-menu {
    display: block;
  }

  .header-logo {
    margin-right: 60px;
  }

  .header-menu-item {
    display: flex;
    gap: 25px;
  }

  .header-menu-list {
    line-height: 1.29;
    text-transform: uppercase;
  }

  .header-menu-list:hover,
  .header-menu-list:active {
    color: var(--yellow);
  }

  .header-tel {
    display: inline;
    padding: 14px 28px;
    border-radius: 15px;
    border: 1px solid rgba(252, 249, 249, 0.1);
    transition: border 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .header-tel:hover,
  .header-tel:active {
    border: 1px solid var(--yellow);
  }
}
