@media screen and (max-width: 1279px) {
  .mobile-menu {
    border: 1px solid #000;
    background: var(--yellow, #ecd979);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
    max-width: 340px;
    height: 100%;

    display: flex;
    position: fixed;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 186px;

    left: 0;
    top: 0;
    z-index: 999;

    transform: translateX(150%);
    transition: transform 250ms ease-out;
  }

  .mobile-menu.is-open {
    transform: translateX(0%);
  }

  .mobile-menu-buttons {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 40px;
  }

  .mobile-menu-tel {
    display: flex;
    padding: 12px 20px;
    justify-content: center;
    align-items: center;

    color: var(--black);
    font-family: Manrope;
    font-size: 12px;
    font-style: normal;
    font-weight: 400;
    line-height: 1.16; /* 116.667% */
    text-transform: uppercase;

    border-radius: 15px;
    border: 1px solid rgba(28, 34, 37, 0.1);
  }

  .mobile-menu-close-btn {
    background-color: transparent;
  }

  .mobile-menu-navi-list {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    gap: 20px;
  }

  .mobile-menu-navi-item {
    color: var(--black);
    text-transform: uppercase;
  }
}
